flask
flask-sqlalchemy
flask-login
flask-migrate
werkzeug
pandas
numpy
scikit-learn
nltk
python-Levenshtein
fuzzywuzzy
bcrypt
python-dotenv
gunicorn 
spacy
sentence-transformers
requests
google-generativeai
